##
## .gitignore for Arcade
##

## main
arcade

## Binary
*.out
*.gcno
*.gcda

## Unused files
*.slo
*.lo
*.o
*.a
*.obj
*.log
*.gch
*.old
vgcore*
valgrind.log.*
.editorconfig
.vscode
*.gcov
*.info
*.so

## Unused folder
cmake-build-debug
/.idea
ArcadeInterfaces/.git

## .git
!.gitignore
!.gitmodules
